<div class="card mt-5">
  <div class="card-body">
    <h3 class="mb-4">Contatos cadastrados</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ocupação</th>
            <th>-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of contactList; let i = index">
            <!-- {{c|json}} -->
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.occupation}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="action buttons">
                <button class="btn btn-success" (click)="onEditContact(c)">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="onDeleteContact(c.$key, c.name)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
